body{
background: radial-gradient(circle, #0f3d2e, #062a1e);
font-family: Arial;
color: #dfffe6;
text-align: center;
}

.box{
background: rgba(0,80,50,0.9);
width: 90%;
max-width: 420px;
margin: 60px auto;
padding: 25px;
border-radius: 15px;
box-shadow: 0 0 20px #2cff9c;
}

button, .btn{
display:block;
width:100%;
padding:12px;
margin:8px 0;
background:#0fa;
border:none;
border-radius:8px;
font-size:16px;
cursor:pointer;
}

button:hover, .btn:hover{
background:#2cff9c;
}
